<div class="content-main">
  <div class="content-header">
    <div class="header-inner">
      <h2><span class="stream-title">Posts</span></h2>
    </div>
  </div>
  <div id="stream-items">
  </div>
  <div class="stream-loading">
    <div class="stream-end-inner">
      <!-- <span class="spinner" title="Loading..."></span> -->
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="module mini-profile component">
    <div class="flex-module profile-summary">
        <a href="/#!/<%= App.current_user.nickname %>" class="account-summary account-summary-small">
            <div class="content">
                <div class="account-group" data-user-id="<%= App.current_user.id %>" data-screen-name="<%= App.current_user.name %>">
                    <img class="avatar size32" src="<%= App.current_user.avatar_url %>&s=32" alt="<%= App.current_user.name %>" data-user-id="<%= App.current_user.id %>">
                    <b class="fullname"><%= App.current_user.name %></b>
                    <small class="metadata">View my profile page</small>
                </div>
            </div>
        </a>
    </div>
    <div>
        <ul class="stats">
            <li>
                <a href="/#!/<%= App.current_user.nickname %>" data-element-term="post_stats">
                    <strong><%= App.current_user.posts_count %></strong> posts</a>
                </li>
            <li>
                <a href="/#!/following" data-element-term="following_stats">
                    <strong><%= App.current_user.friends_count %></strong> following</a>
            </li>
            <li>
                <a href="/#!/followers" data-element-term="follower_stats">
                    <strong><%= App.current_user.followers_count %></strong> followers</a>
            </li>
        </ul>
    </div>
    <div class="tweet-box tweet-user">
        <div class="tweet-box condensed">
            <form id="new-tweet">
            <div class="text-area">
                <div class="text-area-editor twttr-editor closing">
                    <textarea class="twitter-anywhere-tweet-box-editor" style="width: 258px; height: 75px; padding-bottom: 5px; " name="text" placeholder="Compose new Post..."></textarea>
                </div>
            </div>
            <div class="tweet-button-container">
                <div class="tweet-button-sub-container">
                    <input class="tweet-counter" value="140" disabled="disabled">
                    <button class="tweet-button btn disabled">Post</button>
                </div>
            </div>
            </form>
        </div>
    </div>
  </div>
</div>