<!DOCTYPE html>
<html>
<head>
  <title>Manfor.us</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="global-nav">
      <div class="global-nav-inner">
        <div class="container">
          <ul class="nav" id="global-actions">
            <li id="global-nav-home" class="home" data-global-action="home">
              <a href="/#!" data-component-term="home_nav">
                <span class="new-wrapper"><i class="nav-home"></i><i class="nav-new"></i></span> Home
              </a>
            </li>
            <li class="people" data-global-action="connect">
              <a href="/#!/i/connect" data-component-term="connect_nav">
                <span class="new-wrapper"><i class="nav-people"></i><i class="nav-new"></i></span> Connect
              </a>
            </li>
            <li class="topics" data-global-action="discover">
              <a href="/#!/i/discover" data-component-term="discover_nav">
                <span class="new-wrapper"><i class="nav-topics"></i><i class="nav-new"></i></span> Discover
              </a>
            </li>
          </ul>
          <div class="pull-right">
            <div class="well topbar-tweet-btn">
              <a class="btn btn-tweet" href="/#!/" data-component-term="new_post_button" original-title="Compose new Post">
                <i class="nav-tweet"></i>
              </a>
            </div>
            <i class="topbar-divider"></i>
            <ul class="nav">
              <!-- open -->
              <li class="me dropdown session" data-global-action="t1me" id="user-dropdown">
                <a class="dropdown-toggle" href="#" id="user-dropdown-toggle" data-toggle="dropdown">
                  <span class="new-wrapper"><i class="nav-me"></i><i class="nav-new"></i></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li class="current-user" data-name="profile">
                    <a href="/#!/<%= current_user.nickname %>" class="account-summary account-summary-small">
                      <div class="content">
                        <div class="account-group" data-user-id="<%= current_user.id %>" data-screen-name="<%= current_user.nickname %>">
                          <img class="avatar size32" src="<%= current_user.avatar_url %>&s=32" alt="<%= current_user.name %>" data-user-id="<%= current_user.id %>">
                          <b class="fullname"><%= current_user.name %></b>
                          <small class="metadata">View my profile page</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a id="signout-button" href="/logout">Sign out</a>
                  </li>
                </ul>
              </li>
            </ul>
            <i class="topbar-divider"></i>
            <form class="form-search" action="/search" autocomplete="off" id="global-nav-search">
              <span class="search-icon"><i class="nav-search"></i></span>
              <input class="search-input" type="text" id="search-query" placeholder="Search" name="q">
              <div class="dropdown-menu dropdown-menu-dark typeahead"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="doc">
    <div id="page-outer">
      <div id="page-container" class="wrapper">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="twttr-dialog-wrapper"></div>
  <script type="text/javascript" charset="utf-8">
    var option = {
      pastMask: '%yyyy %mmm %d',
      masks: [{
        distance: 43200,
        mask: '%h:%MM %tt'
      },{
        distance: 31556926,
        mask: '%mmm %d'
      }]
    };
    App.current_user = {
      id: "<%= current_user.id %>",
      nickname: "<%= current_user.nickname %>",
      name: "<%= current_user.name %>",
      avatar_url: "<%= current_user.avatar_url %>",
      posts_count: "<%= current_user.posts_count %>",
      followers_count: "<%= current_user.followers_count %>",
      friends_count: "<%= current_user.friends_count %>"
    };
    $(function() {
      $.get("/posts.json", function(posts, textStatus, xhr) {
        window.router = new App.Routers.PostsRouter({
          posts: posts
        });
        return Backbone.history.start();
      });
      $.get("/users/mentions.json", function(data, textStatus, xhr) {
        App.followings = data.followings;
        App.hashtags = data.tags;
      });
      $("#search-query").bind("keydown",function(e){
        if (e.keyCode === 13){
          e.preventDefault();
          window.router.navigate("!/search/"+$(this).val(), {trigger: true});
          return false;
        }
      });
    });
  </script>
</body>
</html>
